@font-face {
  font-family: "Aegyptus";
  src: local("Aegyptus");
  src: url("../fonts/AegyptusGardiner.eot");
  src: url("../fonts/AegyptusGardiner.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/AegyptusGardiner.woff") format("woff"),
    url("../fonts/AegyptusGardiner.woff2") format("woff2");
  src: url("../fonts/AegyptusGardiner.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.egyptian {
  font-size: 200%;
  font-family: "Aegyptus", "Segoe UI Historic", "Noto Sans Egyptian Hieroglyphs",
    "sans-serif";
}
